/* App.css */
body {
  background-color: #1B1E32;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  max-width: 100%;
  margin: 0;
  padding: 16px;
  position: relative;
}

h1,
h2 {
  color: white;
}

.button {
  background-color: #3b4566;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #4e5d7f;
}

/* Chart box styling */
.chart-box {
  background-color: #262C48;
  border-radius: 8px;
  padding: 16px;
  color: white;

  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Charts grid layout */
.charts-grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Ensure charts maintain their aspect ratio */
.chart-box canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 100%;
}

/* Menu button */
.menu-button {
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 16px;
}

/* Side Menu styles */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px; /* Hidden by default */
  width: 300px;
  height: 100%;
  background-color: #262C48;
  overflow-y: auto;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu .close-button {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.upload-section,
.backup-section,
.checkbox-section {
  padding: 16px;
}

.upload-section input[type='file'],
.backup-section select {
  background-color: #1B1E32;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.upload-section input[type='file']::file-selector-button {
  background-color: #262C48;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* Checkboxes styling */
.checkbox-section label {
  display: block;
  margin-bottom: 8px;
}

.checkbox-section input[type='checkbox'] {
  margin-right: 8px;
}