/* App.css */
body {
  background-color: #1B1E32;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

h1,
h2 {
  color: white;
}

.upload-section,
.backup-section,
.checkbox-section {
  background-color: #262C48;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.upload-section input[type='file'],
.backup-section select {
  background-color: #1B1E32;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.upload-section input[type='file']::file-selector-button {
  background-color: #262C48;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  background-color: #3b4566;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #4e5d7f;
}

.chart-box {
  background-color: #262C48;
  border-radius: 8px;
  padding: 16px;
  color: white;
}

.checkbox-section label {
  display: block;
  margin-bottom: 8px;
}

.checkbox-section input[type='checkbox'] {
  margin-right: 8px;
}

/* New styles for the charts grid */
.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.chart-box {
  width: 100%;
}